@import "../../variables.scss";

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255,241,232);
    background: linear-gradient(0deg, rgba(255,241,232,1) 0%, rgba(255,89,150,1) 100%);
    padding: 0 $margin-sides-desktop;
    height: 100vh;
}

.cardsContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}
.heading {
    width: 100%;
}