@import "../../variables.scss";

.aboutContainer {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin: $margin-top $margin-sides $margin-top $margin-sides;
}

.aboutHeading{
    margin-right: 20px;
}

.experienceContainer {
    display: flex;
}

.jobContainer {
    width: 270px;
    margin: 0 15px 0 15px;
}

.companyLogo {
    height: 50px;
    margin: 5px 0 15px 0;
}

.jobHeading {
    font-weight: 700;
}

.jobSubheading {
    font-size: 12px;
    margin-bottom: 15px;
}

.jobListItem {
    margin-bottom: 5px;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsIntro {
    font-size: 19px;
    text-align: center;
}

.list {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 30px;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 10px;
}

.skillsIcon {
    font-size: 44px;
    color: $color-primary;
}

@media screen and (max-width: 1410px) {

    .aboutContainer {
        flex-direction: column;
    }
    .aboutHeading {
        margin-bottom: 50px;
    }
    .experienceContainer{
        justify-content: center;
    }

}

@media screen and (max-width:1110px) {
    .experienceContainer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .jobContainer {
        width: 600px;
    }
}

@media screen and (max-width:910px) {

    .jobContainer {
        width: auto;
    }
}

@media screen and (max-width:830px) {

    .skillsIntro {
        width: 70vw;
        
    }
}

@media screen and (max-width: 702px) {
    .aboutContainer {
        margin: $margin-top-tablet $margin-sides-tablet $margin-top*0.5 $margin-sides-tablet;

    }
}

@media screen and (max-width: 450px) {
    .jobListItem {
        font-size: 14px;
    }
    .skillsIntro {
        font-size: 17px;
    }
    .listItem {
        font-size: 12px;
    }
}