@import "../../variables.scss";

.aboutContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.aboutIntro {
    width: 1200px;
}
