@import "../../variables.scss";

.aboutContainer {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin: 100px 10vw 50px 10vw;

}

.aboutHeading{
    margin-right: 20px;
}

.experienceContainer {
    display: flex;
}

.jobContainer {
    width: 270px;
    margin: 0 15px 0 15px;
}

.companyLogo {
    height: 50px;
    margin: 5px 0 15px 0;
}

.jobHeading {
    font-weight: 700;
    // margin: 15px;
}

.jobSubheading {
    font-size: 12px;
    margin-bottom: 15px;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    // text-align: center;
    // justify-content: center;
    align-items: center;
}

.skillsIntro {
    font-size: 19px;
}

.list {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 30px;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.skillsIcon {
    font-size: 44px;
    color: $color-primary;
}

@media screen and (max-width: 1410px) {

    .aboutContainer {
        flex-direction: column;
    }
    .aboutHeading {
        margin-bottom: 50px;
    }
    .experienceContainer{
        justify-content: center;
    }

}