@import "../../variables.scss";

// .cardAndInfoContainer {
// }

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: $card-height-large;
    transform-style: preserve-3d;
    transition: 400ms;
    cursor: pointer;
}

.faceDown {
    transform: perspective(500px) rotateY(-180deg);
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.technologyList {
    list-style: none;
    display: flex;
}

.technologies {
    background-color: $color-black;
    color: $color-primary;
    border-radius: 10px;
    padding: 3px;
    margin: 4px;
    font-size: 12px;
}

.projectHeading {
    width: $card-width-large;
    border-bottom: 1px solid $color-black;
    padding-bottom: 8px;
    margin: 8px 0;
}

@media screen and (max-width: 540px) {
    .card {
        height: $card-height-medium;
        width: $card-width-medium;
    }
    .projectHeading {
        width: $card-width-medium;
    }
}

@media screen and (max-width: 450px) {
    .card {
        height: $card-height-small;
        width: $card-width-small;
    }
    .projectHeading {
        width: $card-width-small;
        font-size: 18px;
    }
    .technologies {
        font-size: 10px;
    }
}