@import "../../variables.scss";

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: rgb(255,241,232);
    background: linear-gradient(180deg, rgba(255,241,232,1) 0%, rgba(255,89,150,1) 100%);
}
.heading {
    margin-bottom: 20px;
}

.headingStylised {
    color: $color-secondary;
}

.footerBar {
    background-color: $color-secondary;
}
.logo {
    color: $color-black;
    font-size: 40px;
    text-align: end;
    // padding: 12px;
    padding: 0 $margin-sides*0.5 $margin-top*0.5 0;


}
.contactLink, .btn {
    color: $color-black;
    margin: 10px 0;
    font-size: 22px;
}

.contactLink:hover {
    color:$color-primary;
}

.btn {
    background-color: $color-primary;
    padding: 8px;
    cursor: pointer;
}
.btn:hover {
    background-color: $color-primary;
    padding: 8px;
    color: $color-secondary;
}

.contactProfileImg {
    height: 250px;
    border-radius: 2px;
    border: 4px solid $color-primary;
    margin-bottom: 20px;
}

@media screen and (min-width: 1311px) {
    .contactProfileImg {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .contactProfileImg {
        height: 175px;
    }
    .contactLink, .btn {
        font-size: 19px;
    }
    
}

@media screen and (max-width: 400px) {
    .heading {
        margin-right: $margin-sides-tablet;
        margin-left: $margin-sides-tablet;
        text-align: center;
    }
}