@import "../../variables.scss";

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $margin-top $margin-sides 0 $margin-sides;
    height: 8vh;
}

.navLinksContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    // gap: 140px;
    // gap: 20px;

}

.logo {
    color: $color-secondary;
    font-size: 40px;
    font-weight: normal;
}

.navLinks {
    font-size: 20px;
    font-weight: 500;
    color: $color-black;
    cursor: pointer;
}

.navLinks:hover {
    color: $color-secondary;
}

.contactLink {
    background-color: $color-secondary;
    padding: 10px;
    border: none;
}

.contactLink:hover {
    color: $color-primary;
}

.menuContainer {
    position: absolute;
    right: $margin-sides;
    top: 0;
    padding: 42.5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.menuIcon {
    width: 35px;
    height: 35px;
    color: $color-black;
}

.menuClosed {
    display: none;
}

.menuOpen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 200px;
    // background-color: $color-secondary;
}

@media screen and (max-width:1310px) {
    .navLinksContainer {
        width: 500px;
    }
}

@media screen and (max-width:1210px) {
    .navLinksContainer {
        width: 450px;
    }
}

@media screen and (max-width:1210px) {
    .navLinksContainer {
        width: 450px;
    }
}

@media screen and (min-width:1111px) {
    .menuContainer {
        display: none;
    }
}

@media screen and (max-width:1110px) {
    .navLinksContainer {
        display: none;
    }
}

@media screen and (max-width: 702px) {
    .navContainer {
        padding: $margin-top $margin-sides-tablet 0 $margin-sides-tablet;
    }

    .menuContainer {
        right: $margin-sides-tablet;
    }
}