@import "../../variables.scss";

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $margin-top-desktop $margin-sides-desktop;
    height: 8vh;
}

.navLinksContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;

}

.logo {
    color: $color-secondary;
    font-size: 40px;
    font-weight: normal;
}

.navLinks {
    font-size: 20px;
    font-weight: 500;
    color: $color-black;
}

.contactLink {
    background-color: $color-secondary;
    padding: 10px;
    border: none;
}

