@import "../../variables.scss";

.heroContainer {
    height: 92vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.heading {
    font-size: 40px;
    font-weight: 700;
}

.headingStylised {
    color: $color-secondary;
    font-weight: 700;
}
.scrollSection {
    text-align: center;
    display: flex;
    width: 88px;
    align-items: center;
}
.scrollIcon {
    margin-left: 30px;
    width: 35px;
    height: 35px;
    color: $color-secondary;
    text-align: center;
    cursor: pointer;
}

.profileImg {
    height: 550px;
    border-radius: 2px;
}

.colourBox {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: $color-primary;
    height: 92vh;
    width: 35vw;
}

@media screen and (max-width: 1310px) {
    .profileImg {
        display: none;
    }

    .heroContainer {
        justify-content: center;
    }
    
}

@media screen and (max-width: 700px) {
    .intro {
        display: none;
    }

    .textContainer {
        height: 280px;
    }
}

@media screen and (max-width: 600px) {
    .textContainer {
        margin-left: $margin-sides-tablet;
    }
}

@media screen and (max-width: 425px) {
    .textContainer {
        margin-right: $margin-sides-tablet;
    }
}

@media screen and (max-width: 400px) {
    .heading {
        font-size: 35px;
    }
    .textContainer {
        height: 200px;
    }
}