@import "../../variables.scss";

.projectImg {
    height: 273px;
    // border-radius: 5px;
    border-radius: 2px;
}

.cardFront {
    // padding: 50px;
    // border-radius: 5px;
    display: flex;
    

}

