@import "../../variables.scss";

.cardFront {

    height: $card-height-large;
    width: $card-width-large;
    background-size: contain;
    border: 1px solid $color-black;
    border-radius: 2px;

    @media screen and (max-width: 540px) {
        height: $card-height-medium;
        width: $card-width-medium;
    }

    @media screen and (max-width: 450px) {
        height: $card-height-small;
        width: $card-width-small;
    }
}