@import "../../variables.scss";

.cardBack {
    height: 273px;
    background-color: $color-primary;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2px;
}

.projectLinkContainer {
    display: flex;
    justify-content: space-evenly;
}

.projectLink {
    color: $color-primary;
    background-color: $color-black;
    border-radius: 20px;
    padding: 3px 6px;
}