@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@400;500&display=swap');


$color-primary: #05EDD1;
$color-secondary: #FF5996;
$color-white: #FFF1E8;
$color-black: #292734;

$font-display: "Quicksand", sans-serif;
$font-body: "Inter", sans-serif;

$margin-sides-desktop: 100px;
$margin-top-desktop: 60px;
