@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@400;500&display=swap');


$color-primary: #05EDD1;
$color-secondary: #FF5996;
$color-white: #FFF1E8;
$color-black: #292734;

$font-display: "Quicksand", sans-serif;
$font-body: "Inter", sans-serif;

$margin-sides: 100px;
$margin-top: 60px;

$margin-sides-tablet: 50px;
$margin-top-tablet: 50px;

$card-height-large: 275px;
$card-width-large: 440px;

$card-height-medium: 219px;
$card-width-medium: 350px;

$card-height-small: 156px;
$card-width-small: 250px;
